.PlayerForm {
    width: 100%;
}

.PlayerForm input {
    border: 2px solid darkturquoise;
    width: 100%;
    opacity: 0.7;
    background-color:  rgb(0, 19, 19);
    color: white;
    margin-bottom: 30px;
}