* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 112.5%;
  font-family: sans-serif;
  background-color: rgb(0, 12, 12);
  color: darkturquoise;
}

input,
button {
  font-size: inherit;
  padding: 5px;
}
